$background: #F5F5F5;
$backgroundHover: #F5F5F5;
$text: #000000;
$onPrimaryText: #FFFFFF;
$textHover: #8497e0;
$placeholder: #A0AEC0;
$subheader: '#00C6D6';

$primary: #2069df;
$primaryHover: #1a5baf;
$lightPrimary: rgba(32, 105, 223, 0.3);
$secondary: #8EA7E9;
$secondaryHover: #a0b2f3;
$tertiary: #E5E0FF;
$tertiaryHover: #ebe6ff;

$success: #4ADE80;
$successHover: #54E88A;
$lightSuccess: rgba(27, 196, 75, 0.3);
$failure: #ef4444;
$failureHover: #F94E4E;
$lightFailure: rgba(249, 78, 78,0.3);
$warning: #FFA500;
$lightWarning: rgba(239,239,141, 0.3);
$boxShadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
$borderRadius: 5px;
$secoundaryBoxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$textShadowHover: 0px 0px 1px rgb(0,0,0);

$fontSizeSm: 12px;
$fontSize: 14px;
$fontSizeHeader: 18px;
$fontSizeHeaderBg: 20px;
$fontSizeBg: 16px;

$grey: #808080;
$lightgrey: #ebebeb;
$darkgrey: #414B5A;

$link: #0000FF;

$pink: #f76b8a;

$yellow: #FFC72C;